header{
    display: flex;
    justify-content: space-between;
    background-color: #ff0000;
    padding: 10px;
}

.container{
    background-color: rgb(219, 219, 219);
    width: 90%;
    margin: 0 auto;
}

.fundo{
    background-color: #333;
}

.logo{
    margin-left: 50px;
}

.tamanhologo{
    width: 150px;
}

.menu{
    display: inline-block;
    font-size: large;
    margin-right: 50px;
    margin-top: 20px;
}

.menu ul{
    list-style: none;
}

.menu li{
    display: inline-block;
    padding: 10px 10px;
    margin: 0px 5px;
}

a{
    text-decoration:none;
    color: rgb(255, 255, 255);
}

a:hover{
    color: rgb(238, 255, 0);
}

.menus {
    color: white;
    text-decoration: none;
    font-size: 30px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  
  .menus::before {
    margin-left: auto;
  }
  
  .menus::after, .menus::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    transition: 0.5s;
  }
  
  .menus:hover::after, .menus:hover::before {
    width: 100%;
  }



.escudos{
    width: 150px;
    filter: drop-shadow(10px #53a7ea);
transform: translateX(-3px);
}



/*       
COLOCAR NOS TIMES

        box-shadow:
                1px 1px #53a7ea,
                2px 2px #53a7ea,
                3px 3px #53a7ea;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        
*/