header{
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
}

.container{
    background-color: rgb(219, 219, 219);
    width: 90%;
    margin: 0 auto;
}

.fundo{
    background: url("../images/estadio.jpg") no-repeat fixed;
    background-size: cover;
    -webkit-background-size: cover;
}

.logo{
    margin-left: 50px;
}

.tamanhologo{
    max-width: 200px;
}

.menu{
    display: inline-block;
    font-size: large;
    margin-right: 50px;
}

.menu ul{
    list-style: none;

}

.menu li{
    display: inline-block;
    padding: 10px 10px;
    margin: 0px 5px;
    border: 3px solid #333;
    margin-top: 5px;
}

a{
    text-decoration:none;
    color: rgb(255, 255, 255);
}

a:hover{
    color: rgb(255, 0, 0);
}

.escudos{
    width: 150px;
}


.servico{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.servicos {
    background: transparent;
    perspective: 1000px;
    margin-bottom: 50px;
}
  
.virar {
    background: transparent;
    width: 480px;
    height: 350px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 600ms ease-in-out;
}
  
.front, .back {
    position: absolute;
    color: white;
    width: 480px;
    height: 350px;
    backface-visibility: hidden;
}
  
.back {
    background-color:  rgb(100, 145, 243);
    transform: rotateY(180deg);
    font-size: 15px;
    text-align: center;
    border-radius: 15%;
}

.servicos:hover .virar {
    transform: rotateY(180deg);
}
  

.img_servico{
    width: 480px;
    height: 350px;
    border-radius: 15%;
}


/* Alinhar escudos */

.distancia{
    margin: 50px 0 0 0;
}

.teste{
    flex-wrap: wrap;
}

/*       
COLOCAR NOS TIMES

        box-shadow:
                1px 1px #53a7ea,
                2px 2px #53a7ea,
                3px 3px #53a7ea;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        
*/


/* Carrosel */

* {box-sizing:border-box}

.slideshow-container {
  max-width: 100%;
}

.mySlides {
  display: none;
}

.bannerdireita{
    text-align: end;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 100%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}