/* GERAL */
@font-face {
  font-family: 'Futebol';
  src: url(../fonts/SoccerLeagueCollege-Italic.ttf);
}

.container1{
  width: 90%;
  margin: 10px auto;
}

.fundo{
  background-color: #e9caad;
}

a{
  color: rgb(255, 255, 255);
}

a:hover{
  color: rgb(238, 255, 0);
}

.linha{
  height: 5px;
  background-color:  black;
  border: none;
  width: 30%;
  position: relative;
  top: -36px;
  margin: 15px auto 0 auto;
}

.w50{
  width: 50%;
}

.w55{
  width: 55%;
}

.title{
  color: rgb(0, 0, 0);
  margin: 30px 0;
  font-size: 30pt;
  font-family: 'Futebol';
}
  
#titulo_home{
  display: flex;
  flex-direction: column  ;
}

.txt-branco{
  color: white;
}

.img-jogador1{
  width: 27%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 340px;
}

.img-jogador2{
  width: 35%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: -75px;
}

.img-jogador3{
  width: 27%;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0px;
}

.img-jogador4{
  width: 33%;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 340px;
}
/* FIM GERAL */

/* TOPO - HEADER */

header{
    display: flex;
    justify-content: space-between;
    background-color: #252525;
    padding: 5px;
    box-shadow: 0px 2px 12px 4px rgba(50,84,60,1);
}

.logo{
    margin-left: 50px;
}

.tamanhologo{
    width: 150px;
}

.menu{
    display: inline-block;
    font-size: large;
    margin-right: 50px;
    margin-top: 20px;
}

.menu ul{
    list-style: none;
}

.menu li{
    display: inline-block;
    padding: 10px 10px;
    margin: 0px 5px;
}

.menus {
    color: white;
    text-decoration: none;
    font-size: 20px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  
  .menus::before {
    margin-left: auto;
  }
  
  .menus::after, .menus::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    transition: 0.5s;
  }
  
  .menus:hover::after, .menus:hover::before {
    width: 100%;
  }
/* FIM HEADER */


/* FOOTER - RODAPÉ */

footer{
  background-color: #252525;
}

.mapa-site{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linha-mapa{
  background-color: white;
  width: 90px;
  height: 5px;
  
}

.mapa-link{
  text-decoration: none;
}
/* FIM FOOTER */

/* EFEITO BOLA PINGANDO */

  .container_ball{
    position: relative;
    width: 45%;
    height: 300px;
  }

  .container_ball::before{
    position: absolute;
    content: "";
    width: 50px;
    height: 10px;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    background-color: #998686;
    border-radius: 50%;
    animation: pular 1s infinite;
  }

  .container_ball .ball{
    position: relative;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    top: 0;
    background-color:#fff;
    background-image: radial-gradient(black 38%, transparent 40%),
    radial-gradient(black 38%, transparent 40%);
    background-size: 75% 75%;
    background-position: 50% 50%, 200% 200%;
    border-radius: 50%;
    box-shadow: 0 0 10px #ffffff;
    animation: bola 1s infinite;
  }

  @keyframes bola {
    5%{
      width: 50px;
      height: 50px;
    }
    20%{
      height: 60px;
    }
    30%{
      width: 45px;
      height: 60px;
    }
    50%{
      width: 57px;
      height: 35px;
      transform: translateY(275px);
    }
    75%{
      width: 50px;
      height: 50px;
    }
  }

  @keyframes pular {
    25%{
      width: 50px;
      height: 10px;
    }
    50%{
      width: 57px;
      height: 10px;
    }
    75%{
      width: 50px;
      height: 75px;
    }
  }
/* FIM EFEITO BOLA PINGANDO */

.basketball{
  position: relative;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  top: 0;
}

.basketball img{
  position: relative;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  top: 0;
  background-size: 75% 75%;
  background-position: 50% 50%, 200% 200%;
  border-radius: 50%;
  box-shadow: 0 0 10px #f96903;
  animation: bola 1s infinite;
}


  #times{
    gap: 25px;  
}

  .times {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: #666666;
    border: #000000 4px solid;
    width: 200px;
    height: 200px;
}
  
  .times img {
    margin-top: 20px;
    width: 100%;
    height: 150px;
}

/* Botão */
.btn {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
 }
 
 .btn:hover {
  color: black;
 }
 
 .btn:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
 }
 
 .btn:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 }
